@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}

.gallery {
  max-width: 800px;
  margin: 20px auto;
  padding: 40px 50px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  grid-template-areas:
    "MacBook-Air MacBook-Pro-2 MacBook-Pro-2"
    "MacBook-Air MacBook-Pro-2 MacBook-Pro-2"
    "MacBook-Air-2 MacBook-Air-2 MacBook-Pro"
    "MacBook-Air-2 MacBook-Air-2 MacBook-Pro";
  gap: 8px;
}

.gallery > div {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.gallery > div:nth-child(2) {
  padding: 20px 0 0 20px;
}

h2 {
  color: var(--accent-color);
  font-size: 13px;
  margin: 1.2em;
  font-weight: 900;
}

h3 {
  margin: 1em 0;
  color: var(--footer-color);
  font-size: 13px;
  font-weight: 500;
}

strong {
  font-weight: 600;
  display: block;
  margin-bottom: 1.25em;
}

.gallery div img {
  width: 100%;
  object-fit: contain;
}

.item-1 {
  grid-area: MacBook-Air;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-2 {
  grid-area: MacBook-Pro-2;
  display: flex;
  flex-direction: column;
}

.item-2 img {
  align-self: flex-end;
  justify-self: flex-end;
}

.item img {
  grid-area: image;
}

.item-3 {
  grid-area: MacBook-Air-2;
}

.item-4 {
  grid-area: MacBook-Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (width<900px) {
  .gallery {
    max-height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "MacBook-Pro-2 MacBook-Pro-2"
      "MacBook-Air MacBook-Pro"
      "MacBook-Air-2 MacBook-Air-2";
  }
}

@media (width<600px) {
  .gallery {
    max-height: fit-content;
    grid-template-columns: 1fr;
    grid-template-areas:
      "MacBook-Air"
      "MacBook-Pro-2"
      "MacBook-Air-2"
      "MacBook-Pro";
  }
}
